.candidatsList{
    flex: 1;
    border-radius: 2px;
    min-width: 40%;
    min-height: 60vh;
    margin: 0 80px;
    padding: 10px 20px;
    background-color: white;
}

.candidatsList > h4 {
    margin: 0 auto 0 auto;
    font-size: 22px;
    line-height: 22pt;
    font-weight: 400;
    text-align: center;
    max-width: 350px;
  }